
/*master app colors*/

.dark-primary-color {
  color: #C2185B!important
}

.dark-primary-background-color {
  background-color: #C2185B
}

.primary-color {
  color: #E91E63
}

.primary-background-color {
  background-color: #E91E63!important
}

.light-primary-color {
  color: #F8BBD0
}

.light-primary-background-color {
  background-color: #F8BBD0
}

.accent-color {
  color: #00BCD4
}

.accent-background-color {
  background-color: #00BCD4
}

.white-text {
  color: #FFFFFF!important
}
